<footer
  class="bg-primary d-flex flex-wrap justify-content-between align-items-center p-3 mt-3 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <a
      href="/"
      class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1"
      aria-label="Eventos anime"
    >
      <img
        src="assets/images/logo.png"
        class="bi"
        width="40"
        height="40"
        role="img"
        aria-label="logo"
      />
    </a>
    <span class="mb-3 mb-md-0 text-light">© 2025 Company, Inc</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-light" href="#" aria-label="Instagram"
        ><img
          src="assets/images/instagram.png"
          class="bi"
          width="24"
          height="24"
          role="img"
          aria-label="instagram"
        />
      </a>
    </li>
    <li class="ms-3">
      <a class="text-light" href="#" aria-label="Facebook"
        ><img
          src="assets/images/facebook.png"
          class="bi"
          width="24"
          height="24"
          role="img"
          aria-label="facebook"
        />
      </a>
    </li>
  </ul>
</footer>
