<header
  class="bg-primary d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-3 mb-4 border-bottom px-3"
>
  <div class="col-lg-3 mb-2 mb-lg-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img
        src="assets/images/logo.png"
        class="bi"
        width="60"
        height="60"
        role="img"
        aria-label="logo"
      />
    </a>
  </div>
  <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-lg-0">
    <li>
      <a routerLink="/events" class="nav-link px-2 text-light link-info"
        >Inicio</a
      >
    </li>
    <li
      *ngIf="
        (authService.isAuthenticated$ | async) && currentUser?.role === 'user'
      "
    >
      <a routerLink="/my-events" class="nav-link px-2 text-light link-info"
        >Mis eventos</a
      >
    </li>
    <li *ngIf="currentUser?.role === 'admin'">
      <a routerLink="/users" class="nav-link px-2 text-light link-info"
        >Usuarios</a
      >
    </li>
    <li *ngIf="currentUser?.role === 'admin'">
      <a routerLink="/registrations" class="nav-link px-2 text-light link-info"
        >Inscripciones</a
      >
    </li>
    <li
      *ngIf="
        (authService.isAuthenticated$ | async) && currentUser?.role === 'user'
      "
    >
      <a
        routerLink="/my-registrations"
        class="nav-link px-2 text-light link-info"
        >Mis inscripciones</a
      >
    </li>
    <li>
      <a href="#" class="nav-link px-2 text-light link-info">Votaciones</a>
    </li>
    <li><a href="#" class="nav-link px-2 text-light link-info">Galería</a></li>
  </ul>
  <div class="col-lg-3 text-end">
    <button
      routerLink="/login"
      type="button"
      class="btn btn-outline-light me-2"
      *ngIf="!(authService.isAuthenticated$ | async)"
    >
      Iniciar sesión
    </button>
    <button
      type="button"
      class="btn btn-outline-light me-2"
      *ngIf="authService.isAuthenticated$ | async"
      (click)="logout()"
    >
      Cerrar sesión
    </button>
    <button
      routerLink="/register"
      type="button"
      class="btn btn-info text-light"
      *ngIf="!(authService.isAuthenticated$ | async)"
    >
      Registrarse
    </button>
  </div>
</header>
