html,
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

:root {
  --bs-primary: #ff0080;
  --bs-primary-rgb: 255, 0, 128;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #e00078;
  --bs-btn-hover-border-color: #e00078;
  --bs-btn-active-bg: #cf0370;
  --bs-btn-active-border-color: #cf0370;
}

:root {
  --bs-info: #00a2ff;
  --bs-info-rgb: 0, 162, 255;
  --bs-btn-bg: var(--bs-info);
  --bs-btn-border-color: var(--bs-info);
}

.btn-outline-light {
  --bs-btn-hover-color: #ff0080;
}

.btn-info {
  color: #fff;
  background-color: #00a2ff;
  --bs-btn-hover-bg: #0082ce;
  --bs-btn-hover-border-color: #0082ce;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #006ace;
  --bs-btn-active-border-color: #006ace;
}

.btn-info:disabled,
.btn-info.disabled {
  color: #fff !important;
}

.nav-link {
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 5px #00aaff, 0 0 10px #00aaff;
  transition: text-shadow 0.3s ease;
}

.error-message {
  animation: fadePulse 1.5s ease-in-out infinite;
  background-image: url("/assets/images/warning.png");
  background-size: 100% 100%;
  background-position: center;
  color: rgb(255, 217, 0);
}

.success-message {
  animation: fadePulse 1.5s ease-in-out infinite;
  background-image: url("/assets/images/success.png");
  background-size: 100% 100%;
  background-position: center;
  color: rgb(136, 255, 0);
}

@keyframes fadePulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
